<!DOCTYPE html>
<html lang="{{ .Website.Config.Lang }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Website.Config.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1><a href="/">{{ .Website.Config.Title }}</a></h1>
    </header>
    <nav>
      <ul>
        {{ range .Website.Pages }}
          <li><a href="{{ .Url }}">{{ .Post.Title }}</a></li>
        {{ end }}
      </ul>
    <!--Pages-->
    </nav>
    <main>
    {{block "main" .}}{{end}}
    </main>
    <footer>
      <div id="license">
        {{ .Website.Config.License }}
      </div>
    </footer>
  </body>
</html>
