<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Website.Config.Title }}</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body lang="{{ .Website.Config.Lang }}">
    <header>
      <h1><a href="/">{{ .Website.Config.Title }}</a></h1>
    </header>
    <nav>
    <!--Pages-->
    </nav>
    <main>
    {{block "main" .}}{{end}}
    </main>
    <footer>
      <div id="license">
        {{ .Website.Config.License }}
      </div>
    </footer>
  </body>
</html>
