{{block "main" .}}
    <h2>{{ .Category }} - {{ .Number }}</h2>
    <ul>
    {{ range .Posts }}
        <li><a href="{{ .Url }}">{{ .Post.Title}} - {{ .Post.Date }}</a></li>
    {{ end }}
    </ul>
    <nav>
        <ul>
            {{if .PostsPage.HasPrevious}}
            <li><a href="{{ .GetPreviousUrl }}">{{ .GetPreviousNumber }}</a></li>
            {{end}}
            <li>{{ .Number }}</li>
            {{if .PostsPage.HasNext}}
            <li><a href="{{ .GetNextUrl }}">{{ .GetNextNumber }}</a></li>
            {{end}}
        </ul>
    </nav>
{{end}}
